@charset "utf-8";

/* Reset */
html{height:100%;overflow-y:auto;scroll-behavior: smooth;}
body{font-size:16px;line-height:normal;font-family:'NotoSansCJKKr', 'Arial', AppleSDGothicNeo-Light, 'HelveticaNeue', 'Malgun Gothic', '맑은 고딕', sans-serif;color:#666;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,button,p,blockquote,th,td{margin:0;padding:0;-webkit-text-size-adjust:none;}
img,fieldset{border:0;}
img{vertical-align:top;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{color:inherit;}
a,a:link{color:inherit;text-decoration:none;}
em,i,address{font-style:normal;}
legend,caption{display:none;clear:both;}
input,textarea,select,button,table{font-size:inherit;font-family:inherit;line-height:inherit;}
table{border-collapse:collapse;}
input{outline-width:thin;border-color:#ccc;appearance:none;}
textarea{outline-color:-moz-use-text-color;outline-style:none;outline-width:thin;appearance:none;resize:none;}
textarea:focus, input:focus{display: none;}
label, button, input{cursor:pointer;}
a:visited{color:inherit;}
a:hover,a:active{color:inherit;text-decoration:none;}
input,select,.btn{vertical-align:middle;}
input[type='text']::placeholder,
input[type='text']::-webkit-input-placeholder{opacity:0.6;color:inherit;}
input[type='password']{font-family:Dotum, arial;}
input[type='password']::-webkit-input-placeholder{font-family:'NotoSansCJKKr', 'applegothic', '돋움',Dotum, sans-serif !important;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {transition:background-color 5500s ease-in-out 0s;}
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {transition:background-color 5500s ease-in-out 0s;}
select{appearance:none;}
select:focus{outline:none;}
button[type='button']{cursor:pointer;}
button{background: none; border: none;}
figure{padding:0;margin:0;}
.hide{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
img{max-width:100%;}
::-webkit-scrollbar{-webkit-appearance:none;}
::-webkit-scrollbar:vertical{width:12px;}
::-webkit-scrollbar:horizontal{height:8px;}
::-webkit-scrollbar-thumb{background-color:rgba(0, 0, 0, .5);border-radius:10px;border:2px solid #fff;}
::-webkit-scrollbar-track{border-radius:10px;background-color:#fff;}
a:focus,
input:focus,
button:focus{outline:dashed #666 thin;}


/* cont */
.hunt_bg{position: relative; background: url('../images/bg.jpg')no-repeat ; width: 720px; height: 2400px; overflow: hidden;}
.hunt_bg .title{position: absolute; top: 207px; left: 27px; width: 670px; height: 283px;}
.hunt_bg .text02{position: absolute; top: 550px; left: 16.5px; width: 687px; height: 214px;}
.hunt_bg .text03{position: absolute; top: 750px; left: 65.5px; width: 589px; height: 82px;}
.hunt_bg .cont_box{position: absolute; top: 935px; left: 45px; width: 624px; height: 855px; border: 3px groove #969696; box-shadow: 0 20px 30px #000;}
.hunt_bg .hunt_yt{padding-top: 1915px; padding-left: 40px; width: 640px; height: 360px;}
.hunt_bg .hunt_yt iframe{width: 100%; height: 100%;}